/*Fonts*/
h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

p,
a {
    font-family: 'Noto Sans TC', sans-serif;
}

p {
    color: #686868;
}

/*Title Section*/
#title {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(150, 0, 0, 0.52), rgba(0, 0, 0, 1)), url('images/nature.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 1;
}

nav.black {
    background-color: #262626;/*Lighter black*/
    height: 10vh;
    z-index: 1;
    transition: 0.5s;
}

.logo {
    float: left;
}

nav h1 {
    line-height: 150px;
    color: #fff;
    transition: 0.5s;
}

nav.black h1{
    line-height: 50px;
    transition: 0.5s;
}

nav ul {
    float: right;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 150px;
    color: #fff;
    padding: 2px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

nav.black ul li a{
    line-height: 50px;
}

.header {
    padding: 20%;
    color: #ffff;
    position: relative;
    letter-spacing: .15rem;
    text-align: center;
}

.header h1 {
    font-size: 5rem;

}

.header h3 {
    font-size: 3rem;
}


/*About Section*/
#about {
    height: 80vh;
    padding: 7%;
    margin: 5% 15% 5% 15%;
    text-align: center;
}


.profile {
    margin-top: 12%;
}

.profile p {
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 2;
}

.profile img {
    border-radius: 360px;
    margin-right: 50px;
    float: left;
}


/*Galery*/
#gallery {
    background-image: linear-gradient(to bottom, rgba(150, 0, 0, 0.52), rgba(0, 0, 0, 1)), url('images/mountains.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


.album h1 {
    color: #fff;
    letter-spacing: 2.5px;
    margin: 2rem;
}

.card {
    width: 50%;
    margin: 25%
}

/*Resume*/
#resume {
    text-align: center;
    height: 75vh;
}

.resume-content {
    margin-top: 50vh;
}


.resume-content h2{
    margin-bottom: 5%;
}


.feature-img {
    font-size: 3.6rem;
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-img :hover {
    color: #ff4c68;
}

/*Contact*/
#contact {
    background-color: #262626;/*A lighter black*/
    color: #fff;
    padding: 5% 7%;
    height: 45vh;
}

.contact-items {
    height: 100px;
}

.contact-me {
    text-align: center;
}

.contact-items ul {
    list-style: none;
    width: 40%;
    margin: 50px auto;
}

.contact-items ul li {
    width: 75px;
    height: 75px;
    margin: 5px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 30%;
    border: 5px solid #fff;
    float: left;
    transition: all 0.5s ease;
}

.contact-items .fab {
    color: #444c47;
    margin-top: 20px;
    transition: all 0.5s ease;
}



/*Linkedin*/
.contact-items ul li:hover.facebook{
    border: 5px solid  #3b5998;
    box-shadow: 0 0 15px  #3b5998;
    transition: all 0.5s ease;
}

/*
.contact-items ul li:hover.facebook{
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}
*/

/*twitter*/
.contact-items ul li:hover.twitter{
    border: 5px solid  #00aced;
    box-shadow: 0 0 15px  #00aced;
    transition: all 0.5s ease;
}

/*Insta*/
.contact-items ul li:hover.instagram{
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

/*Github*/
.contact-items ul li:hover.google{
    border: 5px solid  #dd4b39;
    box-shadow: 0 0 15px  #dd4b39;
    transition: all 0.5s ease;
}

.responsive-nav {
    display: none;
}


@media screen and (max-width: 1000px) {
    nav {
        display: none;
    }
    
    .responsive-nav {
        background-color: #262626;
        height: 60px;
        width: 100%;
        color: #fff;
        display: block;
        position: fixed;
        transition: 0.5s;
        z-index: 2;
    }
    
    .responsive-nav.active{
        height: 260px;  
        transition: 0.2s;
    }
    
    .responsive-nav h1 {
        float: left;
        line-height: 50px;
        margin-left: 20px
    }
    
    .responsive-nav h4 {
        float: right;
        line-height: 50px;
        margin-right: 20px;
        cursor: pointer;
    }
    
    .responsive-nav ul {
        text-align: center;
        margin-top: 60px;
        list-style: none;
        display: none;
    }
    
    .responsive-nav ul.show {
        display: block;
    }
    
    .responsive-nav ul li{
        margin: 15px;
    }
    
    .responsive-nav ul li a{
        text-decoration: none;
        color: #fff;
    }
    
    .responsive-nav ul li a:hover{
        color: deepskyblue;
    }
    
    .header {
        padding: 0%;
    }
    
    .header h1 {
        font-size: 3.5rem;
        padding-top: 300px;
    }

    .header h3 {
        font-size: 2rem;
    }
    
    #about {
        height: 100vh;
    }
    
    
    #contact {
        height: 75vh;
    }
    
    .contact-items ul {
        
    }
    
    .contact-items ul li a {
        margin: 15px;
    }
}











